Repository abhikaboy/Kindred: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test-short

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go formatting and linting (local hooks for backend/ subdirectory)
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: bash -c 'cd backend && go fmt ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-vet
        name: Run go vet
        entry: bash -c 'cd backend && go vet -composites=false ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Run go mod tidy
        entry: bash -c 'cd backend && go mod tidy'
        language: system
        files: ^backend/(go\.mod|go\.sum)$
        pass_filenames: false

      - id: go-test-short
        name: Run Go unit tests
        entry: bash -c 'cd backend && go test -short ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace

      - id: end-of-file-fixer
        name: Fix end of files

      - id: check-yaml
        name: Check YAML syntax
        exclude: ^(frontend/|nix_modules/)

      - id: check-json
        name: Check JSON syntax

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: detect-private-key
        name: Detect private keys

  # TypeScript/JavaScript linting (if you have ESLint configured)
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v8.56.0
  #   hooks:
  #     - id: eslint
  #       files: \.(ts|tsx|js|jsx)$
  #       args: [--fix]
  #       additional_dependencies:
  #         - eslint
  #         - typescript

workflow
  backend/.golangci.yml
Due: none

fix: onboarding styling, registration validation
  TESTING_CI_CD.md
  backend/internal/handlers/auth/auth_test.go
  backend/internal/handlers/auth/types.go
  frontend/app/(onboarding)/name.tsx
  frontend/app/(onboarding)/password.tsx
  frontend/app/(onboarding)/phone.tsx
  frontend/app/(onboarding)/verify-phone.tsx
  frontend/components/ParallaxScrollView.tsx
Due: go-fmt, go-vet, go-test-short

timezone stuff
  ALERT_QUEUE_IMPLEMENTATION.md
  APPLE_GUIDELINE_1.2_IMPLEMENTATION.md
  BLUEPRINT_TESTING_SUMMARY.md
  CACHE_INVALIDATION_FIX.md
  IMPLEMENTATION_SUMMARY.md
  Makefile
  PRE_SUBMISSION_CHECKLIST.md
  PUSH_NOTIFICATION_TESTING.md
  QUICK_REFERENCE.md
  SETTINGS_PRIVACY_EXPLANATION.md
  SUBSCRIPTION_IMPLEMENTATION.md
  TESTING_CI_CD.md
  TESTING_GUIDE.md
  TESTING_IMPLEMENTATION_SUMMARY.md
  TESTING_QUICKSTART.md
  TESTING_SETUP.md
  TESTING_SETUP_SUMMARY.md
  app.json
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/auth/auth_service_test.go
  backend/internal/handlers/auth/auth_test.go
  backend/internal/handlers/auth/benchmark_test.go
  backend/internal/handlers/auth/fiber_middleware.go
  backend/internal/handlers/auth/middleware.go
  backend/internal/handlers/auth/service.go
  backend/internal/handlers/auth/types.go
  backend/internal/handlers/profile/service.go
  backend/internal/handlers/task/checkin.go
  eas.json
  frontend/app.json
  frontend/app/(onboarding)/phone.tsx
  frontend/hooks/useOnboarding.tsx
Due: go-fmt, go-vet, go-test-short

timezone lint
  backend/internal/handlers/task/checkin.go
Due: go-fmt, go-vet, go-test-short

start google oauth
  frontend/app.json
  frontend/eas.json
  frontend/hooks/useGoogleAuth.tsx
Due: none

feat: gcal integration
  .github/workflows/docker-build-deploy.yml
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/config/google_calendar.go
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/converter.go
  backend/internal/handlers/calendar/converter_test.go
  backend/internal/handlers/calendar/models.go
  backend/internal/handlers/calendar/operations.go
  backend/internal/handlers/calendar/provider.go
  backend/internal/handlers/calendar/provider_google.go
  backend/internal/handlers/calendar/routes.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/calendar/types.go
  backend/internal/handlers/types/types.go
  backend/internal/server/server.go
  backend/internal/storage/xmongo/indexes.go
  frontend/components/modals/OnboardModal.tsx
  frontend/hooks/useGoogleAuth.tsx
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

OAuth Redirect
  CALENDAR_DEEP_LINK_FLOW.md
  GOOGLE_CALENDAR_CARD.md
  GOOGLE_CALENDAR_CARD_FINAL.md
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/types.go
  frontend/api/calendar.ts
  frontend/app/calendar/[action].tsx
  frontend/components/cards/GoogleCalendarCard.tsx
  frontend/components/dashboard/HomescrollContent.tsx
Due: go-fmt, go-vet, go-test-short

OAuth Redirect
  CALENDAR_DEEP_LINK_FLOW.md
  GOOGLE_CALENDAR_CARD.md
  GOOGLE_CALENDAR_CARD_FINAL.md
Due: none

fix: duplicate sync
  DEV_BUILD_GUIDE.md
  GOOGLE_OAUTH_EXPO_GO_TEST.md
  GOOGLE_OAUTH_SETUP.md
  backend/internal/handlers/calendar/TESTING.md
  backend/internal/handlers/calendar/service.go
  backend/internal/storage/xmongo/indexes.go
  frontend/api/api-spec.yaml
  frontend/api/calendar.ts
  frontend/api/generated/types.ts
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
Due: go-fmt, go-vet, go-test-short

feat: sms login
  CALENDAR_SYNC_IMPLEMENTATION.md
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/auth/operations.go
  backend/internal/handlers/auth/routes.go
  backend/internal/handlers/auth/service.go
  backend/internal/handlers/auth/types.go
  frontend/app/(onboarding)/photo.tsx
  frontend/app/login-phone.tsx
  frontend/app/login.tsx
  frontend/components/modals/OnboardModal.tsx
  frontend/hooks/useAuth.tsx
  frontend/hooks/useOnboarding.tsx
Due: go-fmt, go-vet, go-test-short

feat: sms login
  CALENDAR_SYNC_IMPLEMENTATION.md
Due: none

calendar webhook, updated sync logic
  backend/internal/config/google_calendar.go
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/models.go
  backend/internal/handlers/calendar/operations.go
  backend/internal/handlers/calendar/provider.go
  backend/internal/handlers/calendar/provider_google.go
  backend/internal/handlers/calendar/routes.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/calendar/watch_test.go
  backend/internal/handlers/calendar/webhook.go
  backend/internal/handlers/calendar/webhook_ratelimit.go
  backend/internal/handlers/calendar/webhook_ratelimit_test.go
  backend/internal/jobs/calendar_watch_renewal.go
  backend/internal/storage/xmongo/indexes.go
Due: go-fmt, go-vet, go-test-short

chore: removed stupid tests
  backend/internal/handlers/calendar/watch_test.go
  backend/internal/handlers/calendar/webhook_ratelimit_test.go
Due: go-fmt, go-vet, go-test-short

fix webhook
  .github/workflows/docker-build-deploy.yml
Due: none

chore: better error messages
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/calendar/types.go
  backend/internal/handlers/calendar/webhook.go
  backend/internal/handlers/task/task.go
  frontend/api/calendar.ts
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/app/calendar/[action].tsx
  frontend/components/dashboard/HomescrollContent.tsx
  frontend/utils/errorParser.ts
  frontend/utils/showToast.tsx
Due: go-fmt, go-vet, go-test-short

post hog
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/config/posthog.go
  backend/internal/posthog/categorizer.go
  backend/internal/posthog/categorizer_test.go
  backend/internal/posthog/middleware.go
  backend/internal/posthog/mock.go
  backend/internal/posthog/service.go
  backend/internal/posthog/singleton.go
  backend/internal/posthog/types.go
  backend/internal/server/server.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

posthog workflow
  .github/workflows/docker-build-deploy.yml
  README.md
  backend/cmd/server/main.go
  backend/internal/config/posthog.go
  backend/internal/posthog/singleton.go
Due: go-fmt, go-vet, go-test-short

fix posthog
  backend/internal/posthog/middleware.go
Due: go-fmt, go-vet, go-test-short

post hog user tracking
  backend/internal/server/server.go
Due: go-fmt, go-vet, go-test-short

Add react-native-worklets-core dependency for Reanimated 4.1.6
  frontend/bun.lock
  frontend/bun.lockb
  frontend/package.json
Due: none

Add react-native-reanimated/plugin to Expo config
  frontend/app.json
Due: none

Fix Reanimated worklets dependency: use react-native-worklets instead of worklets-core
  bun.lockb
  frontend/babel.config.js
  frontend/bun.lock
  frontend/package.json
Due: none

Fix Babel plugin configuration for Reanimated
  frontend/app.json
  frontend/babel.config.js
Due: none

Update @sentry/react-native to 8.0.0
  frontend/bun.lock
  frontend/package.json
Due: none

create task haptic
  frontend/components/modals/create/Standard.tsx
Due: none

recurring page better
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/util.go
  frontend/app/(logged-in)/(tabs)/(activity)/[id].tsx
  frontend/app/(logged-in)/(tabs)/(task)/daily.tsx
  frontend/app/(logged-in)/(tabs)/_layout.tsx
  frontend/components/activity/RecurringTaskCard.tsx
  frontend/components/cards/ReviewTaskCard.tsx
  frontend/components/modals/CreateModal.tsx
  frontend/components/modals/create/Standard.tsx
  frontend/components/ui/FloatingActionButton.old.tsx
  frontend/components/ui/FloatingActionButton.tsx
  frontend/components/ui/fab/FABBackdrop.tsx
  frontend/components/ui/fab/FABButton.tsx
  frontend/components/ui/fab/PostTaskSelectionView.tsx
  frontend/components/ui/fab/README.md
  frontend/components/ui/fab/TaskSelectionView.tsx
  frontend/components/ui/fab/WorkspaceSelectionView.tsx
  frontend/components/ui/fab/index.ts
  frontend/components/ui/fab/useFABAnimations.ts
Due: go-fmt, go-vet, go-test-short

prune orphaned templates
  backend/UNSPLASH_INTEGRATION.md
  backend/cmd/db/prune_orphaned_templates/README.md
  backend/cmd/db/prune_orphaned_templates/main.go
  backend/internal/handlers/blueprint/service.go
  backend/internal/handlers/blueprint/types.go
  backend/internal/handlers/category/service.go
  backend/internal/handlers/category/service_test.go
  backend/internal/handlers/category/types.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/service_test.go
  frontend/LOGGER_MIGRATION_GUIDE.md
  frontend/LOGGER_MIGRATION_STATUS.md
  frontend/SPOTLIGHT_TOUR_FIXES.md
  frontend/TASK_CARD_PERFORMANCE_OPTIMIZATIONS.md
  frontend/app/(logged-in)/(tabs)/(activity)/[id].tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/home/Drawer.tsx
Due: go-fmt, go-vet, go-test-short

remove add task
  frontend/components/task/WorkspaceContent.tsx
Due: none

poop
  frontend/components/task/WorkspaceContent.tsx
Due: none

random visual bug
  frontend/app/(logged-in)/(tabs)/(task)/encouragements.tsx
  frontend/app/(logged-in)/(tabs)/_layout.tsx
  frontend/components/home/Drawer.tsx
Due: none

calendar sync
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/operations.go
  backend/internal/handlers/calendar/routes.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/calendar/types.go
  frontend/api/calendar.ts
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/app/calendar/[action].tsx
  frontend/components/daily/CalendarEventCard.tsx
  frontend/components/daily/CalendarView.tsx
  frontend/components/modals/CalendarSetupBottomSheet.tsx
  frontend/components/ui/FloatingActionButton.tsx
  frontend/components/ui/fab/FABButton.tsx
Due: go-fmt, go-vet, go-test-short

calendar + recurring tasks
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/models.go
  backend/internal/handlers/calendar/provider.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/service_test.go
  backend/internal/handlers/task/task.go
  backend/internal/handlers/task/util.go
  frontend/api/calendar.ts
  frontend/app/(logged-in)/(tabs)/(task)/index.tsx
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/app/(logged-in)/posting/cameraview.tsx
  frontend/app/(onboarding)/name.tsx
  frontend/app/(onboarding)/password.tsx
  frontend/app/(onboarding)/phone.tsx
  frontend/components/cards/GoogleCalendarCard.tsx
  frontend/components/cards/KudosCard.tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/dashboard/HomescrollContent.tsx
  frontend/components/dashboard/WelcomeHeader.tsx
  frontend/components/home/Drawer.tsx
  frontend/components/inputs/BigInput.tsx
  frontend/components/modals/CalendarSetupBottomSheet.tsx
  frontend/components/modals/TermsAcceptanceModal.tsx
  frontend/components/modals/create/Standard.tsx
  frontend/components/onboarding/BackgroundGraphics.tsx
  frontend/components/task/WorkspaceContent.tsx
  frontend/constants/Colors.ts
Due: go-fmt, go-vet, go-test-short

improved calendar importing
  backend/internal/handlers/calendar/calendar.go
  backend/internal/handlers/calendar/converter.go
  backend/internal/handlers/calendar/converter_test.go
  backend/internal/handlers/calendar/models.go
  backend/internal/handlers/calendar/service.go
  backend/internal/handlers/calendar/types.go
  backend/internal/handlers/task/service.go
  frontend/api/calendar.ts
  frontend/components/cards/GoogleCalendarCard.tsx
  frontend/components/modals/CalendarSetupBottomSheet.tsx
  frontend/components/modals/DefaultModal.tsx
Due: go-fmt, go-vet, go-test-short

notification messages
  backend/internal/handlers/task/service.go
Due: go-fmt, go-vet, go-test-short

voice generation in 2 parts
  backend/cmd/db/apply_indexes/main.go
  backend/internal/handlers/task/operations.go
  backend/internal/handlers/task/routes.go
  backend/internal/handlers/task/task.go
  backend/internal/storage/xmongo/applyindex.go
  frontend/api/task.ts
  frontend/app/(logged-in)/(tabs)/(task)/voice.tsx
  frontend/app/(logged-in)/(tabs)/(task)/workspace.tsx
  frontend/app/(logged-in)/(tabs)/_layout.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/components/ThemedText.tsx
  frontend/components/activity/RecurringTaskCard.tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/cards/TaskCard.tsx
  frontend/components/category.tsx
  frontend/components/daily/CalendarEventCard.tsx
  frontend/components/daily/CalendarView.tsx
  frontend/components/home/Drawer.tsx
  frontend/components/modals/BottomMenuModal.tsx
  frontend/components/modals/CalendarSetupBottomSheet.tsx
  frontend/components/modals/create/NewWorkspace.tsx
  frontend/components/modals/edit/EditWorkspace.tsx
  frontend/components/task/WorkspaceContent.tsx
  frontend/components/ui/DefaultToast.tsx
  frontend/components/ui/FloatingActionButton.tsx
  frontend/components/ui/fab/PostTaskSelectionView.tsx
  frontend/components/ui/fab/TaskSelectionView.tsx
  frontend/components/ui/fab/VoiceInputOverlay.tsx
  frontend/components/ui/fab/WorkspaceSelectionView.tsx
  frontend/hooks/useWorkspaceState.ts
  frontend/utils/speechRecognition.ts
Due: go-fmt, go-vet, go-test-short

animation meow
  backend/internal/gemini/flows.go
  backend/internal/gemini/genkit.go
  backend/internal/gemini/service.go
  backend/internal/gemini/tools.go
  backend/internal/gemini/types.go
  backend/internal/handlers/task/operations.go
  backend/internal/handlers/task/routes.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/task.go
  backend/internal/handlers/task/task_helpers.go
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/api/task.ts
  frontend/app/(logged-in)/(tabs)/(task)/congratulations.tsx
  frontend/app/(logged-in)/(tabs)/(task)/encouragements.tsx
  frontend/components/cards/KudosItem.tsx
  frontend/components/modals/CongratulateModal.tsx
  frontend/components/modals/DeletePreviewModal.tsx
  frontend/components/ui/fab/VoiceInputOverlay.tsx
Due: go-fmt, go-vet, go-test-short
