Repository abhikaboy/Kindred: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test-short

go-fmt:
  name: Format Go code
  entry: bash -c 'cd backend && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Run go vet
  entry: bash -c 'cd backend && go vet -composites=false ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'cd backend && go mod tidy'
  language: system
  pass_filenames: false

go-test-short:
  name: Run Go unit tests
  entry: bash -c 'cd backend && go test -short ./...'
  language: system
  pass_filenames: false

Add a day view to the desktop calendar and fix multi-day task clicks
  desktop/src/components/calendar/CalendarScreen.tsx
  desktop/src/components/calendar/MonthGrid.tsx
  desktop/src/components/calendar/PlannerHeader.tsx
  desktop/src/components/calendar/WeekGrid.tsx
  desktop/src/components/calendar/WeekPager.tsx
  desktop/src/lib/taskCountsByDay.ts
  desktop/src/lib/weekTasks.ts
Due: none

Add a toggle to hide the calendar agenda panel, hide floating rings on calendar page
  desktop/src/components/FloatingRings.tsx
  desktop/src/components/calendar/CalendarScreen.tsx
  desktop/src/components/calendar/PlannerHeader.tsx
Due: none

Add last-updated line to README
  README.md
Due: none

Fix desktop workspace management gaps vs mobile
  desktop/src/components/CategoryCard.tsx
  desktop/src/components/category/CategorySettingsMenu.tsx
  desktop/src/components/category/DeleteCategoryDialog.tsx
  desktop/src/components/category/EditCategoryDialog.tsx
  desktop/src/components/create/CreateContext.tsx
  desktop/src/components/create/CreateWorkspaceDialog.tsx
  desktop/src/components/create/types.ts
  desktop/src/hooks/useCreateActions.ts
  desktop/src/routes/workspace.tsx
Due: none

Keep users signed in and working on bad connections
  DEV_BUILD_GUIDE.md
  desktop/bun.lock
  desktop/package.json
  desktop/src/components/OfflineBanner.tsx
  desktop/src/contexts/auth.tsx
  desktop/src/hooks/useConnectivity.ts
  desktop/src/lib/api/client.ts
  desktop/src/lib/errors.test.ts
  desktop/src/lib/errors.ts
  desktop/src/lib/netStatus.test.ts
  desktop/src/lib/netStatus.ts
  desktop/src/lib/queryPersister.ts
  desktop/src/lib/tokens.ts
  desktop/src/main.tsx
  desktop/src/routes/Layout.tsx
  frontend/api/client.ts
  frontend/api/workspace.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/app/_layout.tsx
  frontend/bun.lock
  frontend/components/OfflineBanner.tsx
  frontend/contexts/tasksContext.tsx
  frontend/hooks/useAuth.tsx
  frontend/hooks/useConnectivity.ts
  frontend/hooks/useRequest.tsx
  frontend/package.json
  frontend/utils/netStatus.ts
Due: none

Clean up the desktop shell, auth inputs, and home screen
  desktop/src-tauri/tauri.conf.json
  desktop/src/components/BrandGlow.tsx
  desktop/src/components/FloatingRings.tsx
  desktop/src/components/OtpInput.tsx
  desktop/src/components/PhoneInput.tsx
  desktop/src/components/PrimaryButton.tsx
  desktop/src/components/ThemedInput.tsx
  desktop/src/components/home/BentoTile.tsx
  desktop/src/components/home/PersonalWorkspaces.tsx
  desktop/src/components/home/TodayHero.tsx
  desktop/src/components/ui/sidebar.tsx
  desktop/src/index.css
  desktop/src/lib/api/client.ts
  desktop/src/routes/Layout.tsx
  desktop/src/routes/home.tsx
  desktop/src/routes/login.tsx
  desktop/vite.config.ts
Due: none

Add links/attachments to tasks, auto-populated from notes
  backend/internal/handlers/task/links.go
  backend/internal/handlers/task/links_test.go
  backend/internal/handlers/task/routes.go
  backend/internal/handlers/task/task_handlers.go
  backend/internal/handlers/task/task_helpers.go
  backend/internal/handlers/task/task_operations.go
  backend/internal/handlers/task/task_service.go
  backend/internal/handlers/task/types.go
  backend/internal/handlers/task/util.go
  backend/internal/handlers/types/types.go
  desktop/src/components/profile/ProfileSongWidget.tsx
  desktop/src/components/task/TaskEditor.tsx
  desktop/src/components/task/TaskLinksCard.tsx
  desktop/src/hooks/useTaskActions.ts
  desktop/src/lib/api/types.gen.ts
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/api/task.ts
  frontend/api/types.ts
  frontend/app/(logged-in)/(tabs)/(task)/task/[id].tsx
  frontend/components/task/TaskLinks.tsx
  shared/taskLinks.test.ts
  shared/taskLinks.ts
Due: go-fmt, go-vet, go-test-short

Preview notes links while creating a task
  desktop/src/components/create/CreateTaskDialog.tsx
  desktop/src/components/create/NotesLinkPreview.tsx
Due: none

Let users skip picking a category when creating a task
  backend/internal/handlers/task/autocategorize.go
  backend/internal/handlers/task/autocategorize_test.go
  backend/internal/handlers/task/cron.go
  backend/internal/handlers/task/routes.go
  backend/internal/handlers/task/task_handlers.go
  backend/internal/handlers/task/task_operations.go
  backend/internal/handlers/task/types.go
  backend/internal/handlers/types/types.go
  backend/internal/server/server.go
  desktop/src/components/TaskItem.tsx
  desktop/src/components/create/CategoryPopover.tsx
  desktop/src/components/create/CreateTaskDialog.tsx
  desktop/src/hooks/useCreateActions.ts
  desktop/src/lib/api/types.gen.ts
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/api/types.ts
  frontend/components/modals/create/Standard.tsx
Due: go-fmt, go-vet, go-test-short

Add a quick-capture field above the rings on home
  desktop/src/components/home/QuickCapture.tsx
  desktop/src/components/home/TodayHero.tsx
Due: none

Add quick capture to the mobile home screen
  frontend/api/task.ts
  frontend/components/dashboard/HomescrollContent.tsx
  frontend/components/dashboard/QuickCapture.tsx
  shared/quickCapture.test.ts
  shared/quickCapture.ts
Due: none

Notify your phone contacts when you join Kindred
  backend/cmd/db/backfill_phone_hash/main.go
  backend/cmd/db/create_collections/main.go
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/auth/operations.go
  backend/internal/handlers/auth/routes.go
  backend/internal/handlers/auth/service.go
  backend/internal/handlers/auth/types.go
  backend/internal/handlers/contacts/service.go
  backend/internal/handlers/contacts/types.go
  backend/internal/handlers/notifications/types.go
  backend/internal/handlers/profile/operations.go
  backend/internal/handlers/profile/profile.go
  backend/internal/handlers/profile/service.go
  backend/internal/handlers/profile/types.go
  backend/internal/handlers/types/types.go
  backend/internal/server/server.go
  backend/internal/storage/xmongo/indexes.go
  backend/xutils/phone.go
  frontend/api/generated/types.ts
  frontend/api/profile.ts
  frontend/api/settings.ts
  frontend/app/(logged-in)/(tabs)/(profile)/settings.tsx
  frontend/app/(logged-in)/(tabs)/(search)/search.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/hooks/useContacts.tsx
  frontend/hooks/useSettings.tsx
  frontend/utils/phone.ts
Due: go-fmt, go-vet, go-test-short

Map contact_links whether or not it exists yet
  backend/internal/storage/xmongo/xmongo.go
Due: go-fmt, go-vet, go-test-short

Normalize phone numbers to E.164 on the login screen
  frontend/app/login-phone.tsx
Due: none

Send the sender's identity with push notifications
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/congratulation/service.go
  backend/internal/handlers/post/service_test.go
  backend/internal/handlers/task/types.go
  backend/internal/handlers/types/types.go
  backend/xutils/manual_push_check_test.go
  backend/xutils/notifications.go
  backend/xutils/push_notification.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

Remove RevenueCat subscription integration
  frontend/app/(logged-in)/(tabs)/(profile)/edit.tsx
  frontend/app/(logged-in)/(tabs)/(profile)/settings.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/app/_layout.tsx
  frontend/hooks/useRevenueCat.tsx
Due: none

Adopt UIScene lifecycle and add a notification service extension
  frontend/app.json
  frontend/ios/Kindred.xcodeproj/project.pbxproj
  frontend/ios/Kindred/AppDelegate.swift
  frontend/ios/Kindred/Info.plist
  frontend/ios/Kindred/SceneDelegate.swift
  frontend/ios/NotificationService/Info.plist
  frontend/ios/NotificationService/NotificationService.entitlements
  frontend/ios/NotificationService/NotificationService.swift
Due: none

Align expo-network with SDK 55 and fix local tooling
  .gitignore
  flake.lock
  flake.nix
  frontend/.easignore
  frontend/.gitignore
  frontend/bun.lock
  frontend/ios/Podfile
  frontend/ios/Podfile.lock
  frontend/ios/Podfile.properties.json
  frontend/package.json
  nix_modules/devenv.nix
Due: none

Add week agenda and overdue section to the daily planner
  frontend/__scratch_mockTasks.ts
  frontend/app/(logged-in)/(tabs)/(task)/daily.tsx
  frontend/app/(logged-in)/(tabs)/(task)/review.tsx
  frontend/components/cards/TaskCard.tsx
  frontend/components/cards/TaskChip.tsx
  frontend/components/daily/CalendarEventCard.tsx
  frontend/components/daily/CalendarView.tsx
  frontend/components/daily/DayOverdueSection.tsx
  frontend/components/daily/MonthGrid.tsx
  frontend/components/daily/PlannerHeader.tsx
  frontend/components/daily/TaskListView.tsx
  frontend/components/daily/TimeSelectionPeek.tsx
  frontend/components/daily/UnscheduledTray.tsx
  frontend/components/daily/WeekAgenda.tsx
  frontend/components/daily/WeekStrip.tsx
  frontend/components/daily/dayCells.tsx
  frontend/components/modals/create/Standard.tsx
  frontend/components/ui/SegmentedControl.tsx
  frontend/contexts/tasksContext.tsx
  frontend/hooks/useDailyTasks.ts
Due: none

Add nightly TestFlight workflow and version bump script, set version to 1.0.11
  .github/workflows/nightly-testflight.yml
  Makefile
  backend/.expo/dev/logs/start.log
  frontend/app.json
  frontend/eas.json
  frontend/ios/Kindred.xcodeproj/project.pbxproj
  frontend/ios/Kindred/Info.plist
  frontend/package.json
  scripts/AGENTS.md
  scripts/bump-version.sh
Due: none

crazy ui changes
  frontend/components/dashboard/CaptureBlur.tsx
Due: none

PURRRR
  backend/internal/gemini/genkit.go
  backend/internal/gemini/tools.go
  backend/internal/gemini/types.go
  backend/internal/handlers/auth/guest.go
  frontend/__tests__/accountOverlayStore.test.ts
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/app/(logged-in)/(tabs)/(task)/index.tsx
  frontend/app/(logged-in)/(tabs)/_layout.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/app/(onboarding)/tutorial.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/app/intro.tsx
  frontend/app/login.tsx
  frontend/components/auth/AuthCtaBlock.tsx
  frontend/components/auth/AuthHeroCard.tsx
  frontend/components/dashboard/GuestLoginLink.tsx
  frontend/components/dashboard/QuickCaptureComposer.tsx
  frontend/components/guest/AccountOverlay.tsx
  frontend/components/modals/create/composer/CreateComposer.tsx
  frontend/components/profile/ProductivityRings.tsx
  frontend/constants/authStorageKeys.ts
  frontend/hooks/useAccountOverlay.ts
  frontend/hooks/useAuth.tsx
  frontend/hooks/useSubmitNewTask.ts
  frontend/utils/analytics.ts
  frontend/utils/resetFirstLaunch.ts
Due: go-fmt, go-vet, go-test-short

model
  backend/internal/gemini/genkit.go
Due: go-fmt, go-vet, go-test-short

pewpew
  backend/internal/handlers/auth/service.go
  frontend/__tests__/accountOverlayStore.test.ts
  frontend/app/(logged-in)/(tabs)/(feed)/feed.tsx
  frontend/app/(logged-in)/(tabs)/(profile)/profile.tsx
  frontend/app/(logged-in)/(tabs)/(search)/search.tsx
  frontend/app/(logged-in)/(tabs)/(task)/index.tsx
  frontend/app/(logged-in)/(tabs)/_layout.tsx
  frontend/app/(logged-in)/_layout.tsx
  frontend/app/(onboarding)/tutorial.tsx
  frontend/components/auth/AuthCtaBlock.tsx
  frontend/components/dashboard/HomescrollContent.tsx
  frontend/components/dashboard/IntroTourOverlay.tsx
  frontend/components/dashboard/QuickCaptureComposer.tsx
  frontend/components/dashboard/WelcomeHeader.tsx
  frontend/components/dashboard/WorkingOnRow.tsx
  frontend/components/guest/AccountOverlay.tsx
  frontend/constants/authStorageKeys.ts
  frontend/hooks/useAccountOverlay.ts
  frontend/hooks/useFocusButtonRect.ts
  frontend/hooks/useGuestAccountWall.ts
  frontend/hooks/useIntroTour.ts
  frontend/hooks/useSubmitNewTask.ts
Due: go-fmt, go-vet, go-test-short

Dismiss/refresh suggestions, faster text-to-task, gentler offline detection, voice start watchdog
  backend/go.mod
  backend/internal/gemini/flows.go
  backend/internal/handlers/task/predictions.go
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/api/task.ts
  frontend/components/dashboard/QuickCaptureComposer.tsx
  frontend/hooks/useVoiceCapture.ts
  frontend/utils/analytics.ts
  frontend/utils/netStatus.ts
  frontend/utils/speechRecognition.ts
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

Auto enrichment: occasional home card that previews and applies schedules for neglected tasks
  backend/internal/gemini/flows.go
  backend/internal/gemini/genkit.go
  backend/internal/gemini/service.go
  backend/internal/gemini/types.go
  backend/internal/handlers/task/enrich.go
  backend/internal/handlers/task/enrich_test.go
  backend/internal/handlers/task/routes.go
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/api/task.ts
  frontend/components/dashboard/AutoEnrichCard.tsx
  frontend/components/dashboard/HomescrollContent.tsx
Due: go-fmt, go-vet, go-test-short

auto enrich, refresh suggestions
  frontend/components/dashboard/QuickCaptureComposer.tsx
  frontend/components/modals/create/composer/CategoryComposer.tsx
  frontend/components/modals/create/composer/WorkspaceComposer.tsx
  frontend/hooks/useSubmitTaskEdit.ts
Due: none

Fix auto-sort route shadowing and double-run of voice/text-to-task
  backend/internal/handlers/task/routes.go
  frontend/api/stream.ts
  frontend/hooks/useIntentRouterFlow.ts
  frontend/hooks/useSSEStream.ts
Due: go-fmt, go-vet, go-test-short

Fix errcheck lint, run golangci-lint in pre-commit, pin Nix Go to CI version
  .pre-commit-config.yaml
  backend/internal/handlers/task/enrich.go
  backend/internal/handlers/task/predictions.go
  flake.lock
  flake.nix
  nix_modules/devenv.nix
Due: go-fmt, go-vet, go-test-short

Auto enrich: scroll the whole review sheet, let users drop tasks or single fields
  backend/internal/handlers/task/enrich.go
  backend/internal/handlers/task/enrich_test.go
  frontend/api/api-spec.yaml
  frontend/api/generated/types.ts
  frontend/components/dashboard/AutoEnrichCard.tsx
Due: go-fmt, go-vet, go-test-short

Add DESIGN.md style guide with anti-patterns
  AGENTS.md
  DESIGN.md
Due: none

Apply the design guide to desktop home and feed
  desktop/src/components/feed/CreatePostModal.tsx
  desktop/src/components/feed/FriendActivityRail.tsx
  desktop/src/components/feed/FriendActivityRow.tsx
  desktop/src/components/feed/PeopleViewer.tsx
  desktop/src/components/home/BentoTile.tsx
  desktop/src/components/home/PersonalWorkspaces.tsx
  desktop/src/components/home/SectionHeader.tsx
  desktop/src/components/home/TodayHero.tsx
  desktop/src/components/kudos/RingsCelebration.tsx
  desktop/src/components/rings/RingUpdateOverlay.tsx
  desktop/src/routes/home.tsx
Due: none

Add hierarchy and spacing/layout sections to DESIGN.md
  DESIGN.md
Due: none

Add silent-push background refresh, recurrence projection and query cache persistence
  backend/internal/handlers/task/autocategorize.go
  backend/internal/handlers/task/task_handlers.go
  backend/xutils/notifications.go
  backend/xutils/push_notification.go
  backend/xutils/push_notification_silent_test.go
  frontend/__tests__/backgroundRefresh.test.ts
  frontend/__tests__/recurrenceProjection.test.ts
  frontend/__tests__/silentPushHandlers.test.ts
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/bun.lock
  frontend/components/daily/CalendarEventCard.tsx
  frontend/components/daily/WaitingSection.tsx
  frontend/components/modals/CongratulateModal.tsx
  frontend/components/modals/EncourageModal.tsx
  frontend/hooks/useDailyTasks.ts
  frontend/hooks/useForYou.ts
  frontend/hooks/useTaskCountsByDay.ts
  frontend/package.json
  frontend/tasks/AGENTS.md
  frontend/tasks/backgroundRefresh.ts
  frontend/utils/notificationInvalidation.ts
  frontend/utils/queryClient.ts
  frontend/utils/recurrenceProjection.ts
  frontend/utils/silentPushHandlers.ts
  frontend/utils/workspaceSnapshot.ts
Due: go-fmt, go-vet, go-test-short

Finish Kindred MCP server: fix request context, add tests and docs
  backend/internal/handlers/mcpserver/server.go
  backend/internal/handlers/mcpserver/server_test.go
  backend/internal/handlers/mcpserver/tools.go
  backend/internal/handlers/mcpserver/tools_test.go
  docs/mcp.md
Due: go-fmt, go-vet, go-test-short

Earned check-ins, private scores, visible auto reminders, skippable tutorial
  backend/internal/handlers/connection/service.go
  backend/internal/handlers/connection/types.go
  backend/internal/handlers/profile/types.go
  backend/internal/handlers/task/checkin.go
  backend/internal/handlers/task/checkin_policy.go
  backend/internal/handlers/task/checkin_policy_test.go
  desktop/src/components/feed/FriendActivityRow.tsx
  desktop/src/routes/account.tsx
  docs/onboarding-real-setup-plan.md
  frontend/app/(logged-in)/(tabs)/(profile)/settings.tsx
  frontend/app/(onboarding)/tutorial.tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/dashboard/FriendsContent.tsx
  frontend/components/modals/create/composer/CreateComposer.tsx
  frontend/components/profile/TodayStats.tsx
  frontend/components/task/ReminderCard.tsx
  frontend/contexts/taskCreationContext.tsx
Due: go-fmt, go-vet, go-test-short

Path conditions:
  go-fmt: any of: ^backend/.*\.go$
  go-vet: any of: ^backend/.*\.go$
  go-mod-tidy: any of: ^backend/(go\.mod|go\.sum)$
  go-test-short: any of: ^backend/.*\.go$
