Repository abhikaboy/Kindred: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test-short

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go formatting and linting (local hooks for backend/ subdirectory)
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: bash -c 'cd backend && go fmt ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-vet
        name: Run go vet
        entry: bash -c 'cd backend && go vet -composites=false ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Run go mod tidy
        entry: bash -c 'cd backend && go mod tidy'
        language: system
        files: ^backend/(go\.mod|go\.sum)$
        pass_filenames: false

      - id: go-test-short
        name: Run Go unit tests
        entry: bash -c 'cd backend && go test -short ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace

      - id: end-of-file-fixer
        name: Fix end of files

      - id: check-yaml
        name: Check YAML syntax
        exclude: ^(frontend/|nix_modules/)

      - id: check-json
        name: Check JSON syntax

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: detect-private-key
        name: Detect private keys

  # TypeScript/JavaScript linting (if you have ESLint configured)
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v8.56.0
  #   hooks:
  #     - id: eslint
  #       files: \.(ts|tsx|js|jsx)$
  #       args: [--fix]
  #       additional_dependencies:
  #         - eslint
  #         - typescript

feat(auth): add server-side Google ID token verification
  backend/internal/config/config.go
  backend/internal/config/oauth.go
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/auth/google_verifier.go
  backend/internal/handlers/auth/types.go
  frontend/hooks/useAuth.tsx
Due: go-fmt, go-vet, go-test-short

feat(auth): add server-side Apple identity token verification
  backend/internal/handlers/auth/apple_verifier.go
  backend/internal/handlers/auth/auth.go
  backend/internal/handlers/auth/types.go
  frontend/components/auth/LogInButton.tsx
  frontend/components/auth/SignUpButton.tsx
  frontend/components/modals/OnboardModal.tsx
  frontend/hooks/useAuth.tsx
  frontend/hooks/useOnboarding.tsx
Due: go-fmt, go-vet, go-test-short

feat(hooks): add useCompletedThisWeek hook for dashboard stats
  frontend/hooks/useCompletedThisWeek.ts
Due: none

feat(dashboard): add StatItem component for tappable stat display
  frontend/components/dashboard/StatItem.tsx
Due: none

feat(dashboard): add CompletedTaskRow component for Done This Week list
  frontend/components/dashboard/CompletedTaskRow.tsx
Due: none

feat(dashboard): add DashboardStats component with expand/collapse and navigation
  frontend/components/dashboard/DashboardStats.tsx
Due: none

feat(dashboard): integrate DashboardStats into HomeScrollContent
  frontend/components/dashboard/HomescrollContent.tsx
Due: none

feat(dashboard): invalidate completedTasks on pull-to-refresh
  frontend/app/(logged-in)/(tabs)/(task)/index.tsx
Due: none

fix(dashboard): address code review feedback
  frontend/components/dashboard/DashboardStats.tsx
  frontend/hooks/useCompletedThisWeek.ts
Due: none

Rewrite notification copy to feel more personal and conversational
  backend/internal/handlers/congratulation/service.go
  backend/internal/handlers/connection/service.go
  backend/internal/handlers/connection/service_test.go
  backend/internal/handlers/encouragement/service.go
  backend/internal/handlers/post/service.go
  backend/internal/handlers/task/checkin.go
  backend/internal/handlers/task/reminder.go
  backend/internal/handlers/task/template_service.go
  backend/internal/testing/push_notification_example_test.go
Due: go-fmt, go-vet, go-test-short

feat: add OpenTelemetry instrumentation across backend
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/gemini/flows.go
  backend/internal/handlers/auth/sinch.go
  backend/internal/handlers/calendar/provider_google.go
  backend/internal/handlers/spaces/s3bucket.go
  backend/internal/handlers/spaces/service.go
  backend/internal/handlers/subscription/handler.go
  backend/internal/otel/otel.go
  backend/internal/server/server.go
  backend/internal/storage/xmongo/xmongo.go
  backend/internal/twillio/email.go
  backend/internal/unsplash/unsplash.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

docs: add SSE streaming design spec for Genkit LLM flows
  docs/superpowers/specs/2026-05-16-genkit-sse-streaming-design.md
Due: none

docs: add design spec for Genkit model optimization
  docs/superpowers/specs/2026-05-16-genkit-optimization-design.md
Due: none

docs: add SSE streaming implementation plan
  docs/superpowers/plans/2026-05-16-genkit-sse-streaming.md
Due: none

feat(sse): add SSEWriter utility for streaming events
  backend/internal/handlers/task/sse_writer.go
Due: go-fmt, go-vet, go-test-short

feat(frontend): add SSE stream hook and API utilities
  frontend/api/stream.ts
  frontend/hooks/useSSEStream.ts
Due: none

refactor(gemini): extract prompt builders for reuse by stream handlers
  backend/internal/gemini/flows.go
  backend/internal/gemini/prompts.go
Due: go-fmt, go-vet, go-test-short

docs: add implementation plan for Genkit model optimization
  docs/superpowers/plans/2026-05-16-genkit-optimization.md
Due: none

feat(frontend): integrate SSE streaming into intent router hook
  frontend/hooks/useIntentRouterFlow.ts
Due: none

feat(sse): add streaming SSE handlers for NLP flows
  backend/internal/handlers/task/stream_handlers.go
  backend/internal/server/server.go
Due: go-fmt, go-vet, go-test-short

feat(category): add GetCategoryNamesSummary for prompt injection
  backend/internal/handlers/category/service.go
  backend/internal/handlers/category/service_test.go
Due: go-fmt, go-vet, go-test-short

feat(gemini): add slim task types and query param to active tasks input
  backend/internal/gemini/types.go
Due: go-fmt, go-vet, go-test-short

feat(frontend): wire streaming status messages into voice and text-dump UIs
  frontend/app/(logged-in)/(tabs)/(task)/text-dump.tsx
  frontend/components/ui/fab/VoiceInputOverlay.tsx
Due: none

feat(gemini): wire category service into InitFlows for prompt injection
  backend/internal/gemini/flows.go
  backend/internal/gemini/genkit.go
Due: go-fmt, go-vet, go-test-short

feat(gemini): add keyword search and slim fallback to getUserActiveTasks tool
  backend/internal/gemini/tools.go
Due: go-fmt, go-vet, go-test-short

feat(gemini): inject category context into prompts, add text normalization, use query-based task search
  backend/internal/gemini/flows.go
Due: go-fmt, go-vet, go-test-short

docs: add productivity score & rings design spec
  docs/superpowers/specs/2026-05-16-productivity-score-rings-design.md
Due: none

docs: update productivity score spec with separate rings, revised formula
  docs/superpowers/specs/2026-05-16-productivity-score-rings-design.md
Due: none

docs: add productivity score & rings implementation plan
  docs/superpowers/plans/2026-05-16-productivity-score-rings.md
Due: none

feat(rings): add ring state types, reward pool, and API response structs
  backend/internal/handlers/rings/types.go
Due: go-fmt, go-vet, go-test-short

feat(credits): export GetCreditFieldName for use by rings reward system
  backend/internal/handlers/types/credits.go
Due: go-fmt, go-vet, go-test-short

feat(user): add ProductivityScore and LastRewardDate fields
  backend/internal/handlers/types/types.go
Due: go-fmt, go-vet, go-test-short

feat(rings): add ring service with increment, score, and reward logic
  backend/internal/handlers/rings/service.go
Due: go-fmt, go-vet, go-test-short

feat(rings): add API routes for ring state, history, and rewards
  backend/internal/handlers/rings/routes.go
Due: go-fmt, go-vet, go-test-short

feat(rings): wire ring increments into task, post, and kudos handlers
  backend/internal/handlers/congratulation/congratulation.go
  backend/internal/handlers/congratulation/routes.go
  backend/internal/handlers/congratulation/service.go
  backend/internal/handlers/congratulation/types.go
  backend/internal/handlers/encouragement/encouragement.go
  backend/internal/handlers/encouragement/routes.go
  backend/internal/handlers/encouragement/service.go
  backend/internal/handlers/encouragement/types.go
  backend/internal/handlers/post/post.go
  backend/internal/handlers/post/routes.go
  backend/internal/handlers/post/service.go
  backend/internal/handlers/post/types.go
  backend/internal/handlers/rings/routes.go
  backend/internal/handlers/task/cron.go
  backend/internal/handlers/task/routes.go
  backend/internal/handlers/task/stream_handlers.go
  backend/internal/handlers/task/task_handlers.go
  backend/internal/handlers/task/task_service.go
  backend/internal/handlers/task/types.go
  backend/internal/server/server.go
Due: go-fmt, go-vet, go-test-short

test(rings): add tests for ring service core logic
  backend/internal/handlers/rings/service_test.go
Due: go-fmt, go-vet, go-test-short

feat(profile): expose productivity_score, hide points from profile responses
  backend/internal/handlers/profile/profile.go
  backend/internal/handlers/profile/types.go
Due: go-fmt, go-vet, go-test-short

feat(frontend): add ring API client and types
  frontend/api/rings.ts
  frontend/api/types.ts
Due: none
