Repository abhikaboy/Kindred: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test-short

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go formatting and linting (local hooks for backend/ subdirectory)
  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: bash -c 'cd backend && go fmt ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-vet
        name: Run go vet
        entry: bash -c 'cd backend && go vet -composites=false ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Run go mod tidy
        entry: bash -c 'cd backend && go mod tidy'
        language: system
        files: ^backend/(go\.mod|go\.sum)$
        pass_filenames: false

      - id: go-test-short
        name: Run Go unit tests
        entry: bash -c 'cd backend && go test -short ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace

      - id: end-of-file-fixer
        name: Fix end of files

      - id: check-yaml
        name: Check YAML syntax
        exclude: ^(frontend/|nix_modules/)

      - id: check-json
        name: Check JSON syntax

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: detect-private-key
        name: Detect private keys

  # TypeScript/JavaScript linting (if you have ESLint configured)
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: v8.56.0
  #   hooks:
  #     - id: eslint
  #       files: \.(ts|tsx|js|jsx)$
  #       args: [--fix]
  #       additional_dependencies:
  #         - eslint
  #         - typescript

upcoming recurring tasks
  frontend/api/types.ts
  frontend/app/(logged-in)/(tabs)/(task)/kudos.tsx
  frontend/app/(logged-in)/(tabs)/(task)/workspace.tsx
  frontend/components/SearchBox.tsx
  frontend/components/UpcomingCategory.tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/cards/TaskCard.tsx
  frontend/components/category.tsx
  frontend/components/dashboard/WorkspaceGrid.tsx
  frontend/components/search/SearchResults.tsx
  frontend/components/task/WorkspaceContent.tsx
  frontend/components/ui/SegmentedControl.tsx
  frontend/contexts/tasksContext.tsx
  frontend/utils/phantomTasks.ts
Due: none

flex tasks
  app.json
  backend/internal/handlers/task/flex_period.go
  backend/internal/handlers/task/flex_period_daily.go
  backend/internal/handlers/task/flex_period_monthly.go
  backend/internal/handlers/task/flex_period_test.go
  backend/internal/handlers/task/flex_period_weekly.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/service_test.go
  backend/internal/handlers/task/types.go
  backend/internal/handlers/task/util.go
  backend/internal/handlers/types/types.go
  frontend/api/types.ts
  frontend/app/(logged-in)/(tabs)/(task)/task/[id].tsx
  frontend/components/cards/TaskCard.tsx
  frontend/components/inputs/Dropdown.tsx
  frontend/components/modals/create/Recurring.tsx
  frontend/components/modals/create/Standard.tsx
  frontend/components/task/RecurringInfoCard.tsx
  frontend/contexts/taskCreationContext.tsx
Due: go-fmt, go-vet, go-test-short

sentry
  backend/Dockerfile
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/config/sentry.go
  backend/internal/handlers/task/cron.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/util.go
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

sentry, revenuecat,etc
  .cursor/mcp.json
  .cursor/settings.json
  .github/workflows/docker-build-deploy.yml
  Makefile
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/config/revenuecat.go
  backend/internal/handlers/auth/types.go
  backend/internal/handlers/subscription/handler.go
  backend/internal/handlers/subscription/routes.go
  backend/internal/handlers/types/subscription.go
  backend/internal/server/server.go
  backend/loadtest/fixtures.go
  backend/loadtest/main.go
  backend/loadtest/report.go
  backend/loadtest/scenarios.go
  backend/loadtest/setup.go
  frontend/api/types.ts
  frontend/app.json
  frontend/app/(logged-in)/(tabs)/(profile)/edit.tsx
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/app/_layout.tsx
  frontend/bun.lock
  frontend/components/settings/SettingsActionRow.tsx
  frontend/components/settings/SettingsCard.tsx
  frontend/components/settings/SettingsSection.tsx
  frontend/components/settings/SettingsToggleRow.tsx
  frontend/constants/subscription.ts
  frontend/hooks/useRevenueCat.tsx
  frontend/package.json
  frontend/utils/subscription.ts
  nix_modules/devenv.nix
Due: go-fmt, go-vet, go-mod-tidy, go-test-short

creds
  .cursor/mcp.json
Due: none

error
  backend/internal/handlers/subscription/handler.go
  backend/loadtest/main.go
  backend/loadtest/scenarios.go
Due: go-fmt, go-vet, go-test-short

flex task fix
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/service_test.go
  backend/internal/handlers/task/task.go
Due: go-fmt, go-vet, go-test-short

force sentry logging
  backend/cmd/server/main.go
  backend/internal/server/server.go
  backend/internal/xslog/sentry.go
  backend/internal/xslog/sentry_test.go
Due: go-fmt, go-vet, go-test-short

thing
  frontend/app/login-phone.tsx
  frontend/components/inputs/PhoneInput.tsx
Due: none

Add EULA link to App Store metadata
  frontend/app.json
  frontend/store.config.json
Due: none

Fix photo library permission flow for App Store compliance
  frontend/app/(onboarding)/photo.tsx
  frontend/hooks/useMediaLibrary.tsx
Due: none

Add UGC content safeguards for Apple Guideline 1.2 compliance
  backend/internal/handlers/post/service.go
  backend/internal/handlers/post/types.go
  backend/internal/handlers/types/types.go
  frontend/api/generated/types.ts
  frontend/app/(logged-in)/(tabs)/(feed)/feed.tsx
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
Due: go-fmt, go-vet, go-test-short

poop
  frontend/app.json
  frontend/bun.lock
  frontend/eas.json
  frontend/ios/Kindred.xcodeproj/project.pbxproj
  frontend/ios/Podfile.lock
  frontend/package.json
Due: none

Update Podfile.lock after package upgrades
  frontend/ios/Podfile.lock
Due: none

Update expo-widgets and dev build tooling
  frontend/app.json
  frontend/bun.lock
  frontend/package.json
  nix_modules/devenv.nix
Due: none

Fix all iOS widget rendering and live activity triggers
  frontend/app/(logged-in)/_layout.tsx
  frontend/contexts/tasksContext.tsx
  frontend/ios/ExpoWidgetsTarget/index.swift
  frontend/ios/Podfile.lock
  frontend/widgets/ActivityStreakWidget.tsx
  frontend/widgets/DeadlineCountdownActivity.tsx
  frontend/widgets/EncouragementActivity.tsx
  frontend/widgets/LockScreenWidgets.tsx
  frontend/widgets/TodayTasksWidget.tsx
  frontend/widgets/WorkspaceSnapshotWidget.tsx
Due: none

payments / revenue cat paywall, widgets, evreything
  backend/internal/handlers/post/service.go
  backend/internal/handlers/task/util.go
Due: go-fmt, go-vet, go-test-short

error fixing
  backend/cmd/db/create_collections/main.go
  backend/internal/handlers/report/service.go
  backend/internal/handlers/task/service.go
  backend/internal/server/server.go
  backend/xutils/notifications.go
Due: go-fmt, go-vet, go-test-short

improve reporting and blocking behavior
  backend/internal/handlers/profile/profile.go
  backend/internal/handlers/profile/service.go
  backend/internal/handlers/profile/service_test.go
  backend/internal/handlers/profile/types.go
  backend/internal/xslog/sentry.go
  frontend/api/types.ts
  frontend/app/(logged-in)/(tabs)/(feed)/feed.tsx
  frontend/app/(logged-in)/(tabs)/(feed,search,profile)/account/[id].tsx
  frontend/app/(logged-in)/(tabs)/(task)/blocked-users.tsx
  frontend/components/cards/PostCard.tsx
  frontend/components/cards/ReportedPostCard.tsx
  frontend/components/inputs/FollowButton.tsx
Due: go-fmt, go-vet, go-test-short

app store
  backend/internal/handlers/connection/service.go
  backend/internal/handlers/connection/service_test.go
  frontend/app.json
  frontend/app/(onboarding)/_layout.tsx
  frontend/app/(onboarding)/human.tsx
  frontend/hooks/useRevenueCat.tsx
  frontend/ios/Kindred.xcodeproj/project.pbxproj
Due: go-fmt, go-vet, go-test-short

rawr
  frontend/api/client.ts
  frontend/app/(logged-in)/(tabs)/(feed)/feed.tsx
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/contexts/tasksContext.tsx
  frontend/hooks/useAuth.tsx
  frontend/widgets/WorkspaceSnapshotWidget.tsx
Due: none

blocked
  backend/internal/handlers/connection/operations.go
Due: go-fmt, go-vet, go-test-short

SEND IT
  frontend/app/(logged-in)/(tabs)/(profile)/edit.tsx
  frontend/app/(logged-in)/(tabs)/(task)/blocked-users.tsx
  frontend/app/(logged-in)/(tabs)/(task)/settings.tsx
  frontend/app/(onboarding)/phone.tsx
  frontend/constants/subscription.ts
  frontend/hooks/useRevenueCat.tsx
Due: none

feat: reduce flex task cooldown to 5 minutes
  backend/internal/handlers/task/flex_period_daily.go
  backend/internal/handlers/task/flex_period_monthly.go
  backend/internal/handlers/task/flex_period_test.go
  backend/internal/handlers/task/flex_period_weekly.go
Due: go-fmt, go-vet, go-test-short

feat: inline-spawn next flex task on completion, return in response
  backend/internal/handlers/task/operations.go
  backend/internal/handlers/task/service.go
  backend/internal/handlers/task/service_test.go
  backend/internal/handlers/task/task.go
Due: go-fmt, go-vet, go-test-short

feat: insert next flex task into UI immediately on completion
  frontend/api/task.ts
  frontend/app/(logged-in)/(tabs)/(task)/review.tsx
  frontend/components/cards/SwipableTaskCard.tsx
  frontend/components/daily/CalendarView.tsx
  frontend/hooks/useTaskCompletion.tsx
Due: none

chore: remove Beta pill from login screen
  frontend/app/login.tsx
Due: none

fix: bind backend port to localhost only, prevent direct public access
  .github/workflows/docker-build-deploy.yml
Due: none

chore: install @react-native-google-signin/google-signin, add config plugin
  frontend/app.json
  frontend/bun.lock
  frontend/package.json
Due: none

feat: add pagination to getUserPosts endpoint
  backend/internal/handlers/post/post.go
  backend/internal/handlers/post/service.go
  backend/internal/handlers/post/types.go
Due: go-fmt, go-vet, go-test-short

feat: add Sentry captures and toast errors to all useAuth functions
  frontend/hooks/useAuth.tsx
Due: none

feat: add auth-specific error message constants
  frontend/utils/errorParser.ts
Due: none

feat: replace alert() with toast + Sentry captures in OnboardModal auth flows
  frontend/components/modals/OnboardModal.tsx
Due: none

feat: add pagination to getUserPosts endpoint
  backend/internal/handlers/post/service_test.go
Due: go-fmt, go-vet, go-test-short

chore: remove obsolete Google OAuth docs (replaced by native SDK)
  GOOGLE_OAUTH_EXPO_GO_TEST.md
  GOOGLE_OAUTH_SETUP.md
Due: none

fix: remove dimmed opacity from Google sign-in button
  frontend/components/modals/OnboardModal.tsx
Due: none

feat: rewrite useGoogleAuth with native @react-native-google-signin SDK
  frontend/hooks/useGoogleAuth.tsx
Due: none

feat: paginate ProfileGallery, optimize list rendering
  frontend/api/post.ts
  frontend/components/profile/BlueprintGallery.tsx
  frontend/components/profile/BlueprintSection.tsx
  frontend/components/profile/ProfileGallery.tsx
Due: none

fix: resolve FlashList prop type errors, use drawDistance instead
  frontend/components/profile/BlueprintGallery.tsx
  frontend/components/profile/ProfileGallery.tsx
Due: none
